/****************************************
BASE STYLES
/***************************************/

*, *:after, *:before {
    box-sizing: border-box;
}

body {
  font: $font-base;
  background: $outer-space;
  position: relative;
   // @include grid-visual;
   transition: width .6s ease-out,
               height .6s ease-out;
}

body.modal-open {
  overflow-y: hidden;
}
body.modal-open section {
  filter: blur(3px);
}

a {
    display: block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
  margin-top: 0;
}

img {
    max-width: 100%;
}

.btn {
    color: white;
    text-transform: uppercase;
    background: lightgreen;
    border: none;
    padding: .825rem .25rem;
    border-radius: 8px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

