// Descriptive color variables

$white            : #fafafa;
$black            : #333333;
$grey             : #f2f2f2;

// Descriptive Skills color Vars

$pickled-bluewood   : #313e5c;
$bay-of-many        : #214175;
$outer-space        : #2c353e;
$curious-blue       : #288ada;
$shamrock           : #33cf89;
$keppel             : #48aea5;
$paris-daisy        : #fefe77;
$yellow-orange      : #ffad49;
$burnt-sienna       : #ec6f60;

// Functional color variables

$text-white         : $white;
$text-dark          : $black;
$text-grey          : $grey;

//  Section Colors

// 	Buttons

$btn-blue			: $curious-blue;
$btn-green			: $shamrock;




//////////////////////////////
//  Font Size - Styles
//////////////////////////////

// Font Stacks

$stack-sans-serif              : Helvetica, Arial, sans-serif;
$stack-ubunto-sans             : 'Open Sans', $stack-sans-serif;
$stack-lobster-cursive         : 'Lobster Two', cursive;

// Font Size

$font-base            : normal 16px/1.4 $stack-ubunto-sans;

$font-size-normal     : 1rem; /* 16px */
$font-body-copy       : 1.125rem; /* 18px */

$font-size-xsml       : .75rem; /* 12px */
$font-size-sml        : 1.25rem; /* 20px */
$font-size-md         : 1.375rem; /* 20px */
$font-size-lg		  : 1.5rem;

// Title Size
$font-title-sm		  : 1rem;
$font-title-md        : 2.5rem;
$font-title-lg        : 3rem;

//	Title Styles
$text-style-about	  : $stack-lobster-cursive;


// Border radius

$br-round: 50%;
$br-primary : 3%;

// Center El's

$margin-center      :  0 auto;

// Asset paths

$path-img  : '../img';


// Buttons

$btn-text-sml 		:  $font-size-xsml;
$btn-text-color		:  $white;


//////////////////////////////
//  #main-header
//////////////////////////////

//  header text
$text-nav                 : $outer-space;
$text-nav-hover           : $paris-daisy;
$text-nav-selected		  : $paris-daisy;
$text-nav-bg-selected	  : $outer-space;
$text-main-heading        : $outer-space;
$text-sub-heading         : $paris-daisy;

//  header background
$bg-main-header           : linear-gradient(rgba(52,232,158,.75) ,rgba(15, 52, 67, .75));


//////////////////////////////
// About Me Section
//////////////////////////////

// About Color
$about-bg-color			  : $pickled-bluewood;
$about-text-color		  : $white;

// About Text
$text-about-primary       : $white;
$text-about-heading       : $shamrock;
$text-about-subheading    : $paris-daisy;

// Font Size
$about-header		      : $font-title-md;
$about-subheading		  : $font-title-md;
$techdegree-title		  : $font-size-lg;
$about-title			  : $font-size-sml;

$about-paragraph		  : $font-size-normal;
$about-paragraph-sm 	  : $font-body-copy;
$about-paragraph-xs		  : $font-size-xsml;

// About border
$about-border			  : $br-primary;
$about-border-color		  : $paris-daisy;



//////////////////////////////
// Skills Section
//////////////////////////////

$skills-bg 				  : $shamrock;

$skills-block-bg		  : darken($shamrock, 12%);

$text-size-subtitle		  : $font-size-sml;

$text-size-total		  : $font-size-sml;



// Media Query

$brk-sml-mobile	: '(min-width: 440px)';
$brk-md-mobile  : '(min-width: 599px )';
$brk-lg-mobile 	: '(min-width: 699px)';
$brk-tablet :  '(min-width: 499px)';
$brk-wide   :  '(min-width: 1024px)';
