.about-icon,
.skills-icon,
.portfolio-icon,
.contact-icon {
		width: 80px;
		height: 80px;
		margin-top: -40px;
		position: relative;

		@include tablet {
			width: 100px;
			height: 100px;
			margin-top: -50px;
		}
	}

.btn {
	background: none;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	color: $white;
	font-size: $btn-text-sml;
	min-width: 100px;
	transition: background .8s ease-out;
}

.btn-1of2-layout {
	@include grid-column(6);
	

	@include lg-devices {
		@include grid-column(3);
		@include grid-push(2);
	}

	@include md-devices {
		@include grid-column(4);
		@include grid-push(1);
	}

	@include lg-devices {
		@include grid-column(2);
		@include grid-push(3);
	}

}

.btn-2of2-layout {
	@include grid-column(6);

	@include lg-devices {
		@include grid-column(3);
		@include grid-push(2);
	}

	@include md-devices {
		@include grid-column(4);
		@include grid-push(2);
	}

	@include lg-devices {
		@include grid-column(2);
		@include grid-push(2);
	}
}

.btn-green {
	border-color: $btn-green;

	&:hover {
		background: $btn-green;
	}
}

.btn-green-solid {
	background: $btn-green;
}

.btn-blue {
	border-color: $btn-blue;

	&:hover {
		background: $btn-blue;
	}
}

.btn-blue-solid {
	background: $btn-blue;
}

.btn-git {
	border-color: $btn-burnt;

	&:hover {
		background: $btn-burnt;	
	}
}

.btn-close {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 0;
}
