#modal {
  display: none;
  border-radius: 12px;
  position: fixed;
  z-index: 1000;
  left: 5%;
  top: 2.5%;
  width: 90%;
  height: 90%;
  overflow-y: auto;

	.modal-inner {
		@extend #about-me;
		background: rgba($outer-space, .90);
		padding: 1rem;	
		overflow: auto;
		height: 100%;
	}

	.section-title {		
		border-bottom: 2px solid $white;		
		margin-bottom: 1.5rem;
		margin-left: 0;
		padding: 1rem;
		text-align: center;
		width: 100%;
	}

	#modal-content {
		@include grid-column;
		text-align: left;

		@include tablet {
			// margin-top: 10%;
		}

		.modal-img {
			border: 2px solid $curious-blue;
			padding: 4px;

			@include lg-devices {
				@include grid-column(6);
			}
		}

		ul.tech {
			margin-left: 1rem;
		}

		.modal-table {
			@include grid-column;

			@include lg-devices {
				@include grid-column(4);
				@include grid-push(2);	
			}

			h4 {
				margin-top: 0;
    			margin-bottom: 0;
    			font-family: 'Lobster Two';
    			font-size: 2rem;
    			color: #288ada;
			}			
		}	

		.modal-proj-title {
			@include grid-column;
			font-size: $modal-proj-title-size;
			font-family: $stack-lobster-cursive;
			color: $curious-blue;
			text-align: left;
			margin-top: 10px;
			margin-bottom: 10px;			
		}

		.proj-description {
			@include grid-column;
			text-align: left;
			margin-bottom: 1rem;
			font-weight: 300;

			&:last-of-type {
				margin-bottom: 3rem;
			}
		}
	}
}

 .modal-close {
  border: none;
  background: none;
  position: absolute;
  right: .5em;
  top: .35em;
  width: 2rem;
  height: 2rem;
  /* 2em */
}


.modal-close:hover {
  -webkit-animation: grow .4s ease-out;
          animation: grow .4s ease-out;
}

.modal-close {
  color: #c2c6c7;
}

 .modal-close:hover {
  cursor: pointer;
  outline: none;
  
}
