/***************************************************
 Font Styles
***************************************************/

/* --	HEADER  -- */
.intro-header {
	text-align: center;

	:first-child {
    	font-weight: 300;
    	line-height: 1.1;
	}

}

.main-heading {
	font-family: $stack-lobster-cursive;
 	font-size: $font-title-md;
    font-weight: 700;

    @include tablet{
      font-size: $font-title-lg;
    }
}

h2,h3 {
	margin-top: 8px;
	margin-bottom: 0px;
	color: $text-sub-heading;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;

     @include tablet {
      font-size: 1rem;
    }
}

/* --	ABOUT  -- */
#about-me {
	color: $about-text-color;
	text-align: center;
}

.section-title {
	color: $text-about-heading;
	font-family: $text-style-about;
	font-size: $about-header;
	font-weight: 400;
}

.section-intro {
	font-size: 1.05rem;
	font-weight: 300;

	@include lg-devices {
		font-size: 1.1rem;
	}
}

.section-intro--first-child {
	margin-bottom: 1rem;
}

.about-block-container {

	.block-sections {

		.about-title {
			color: $text-about-heading;
			font-size: $about-title;
			font-weight: 300;
			text-align: center;
		}

		 p {
			font-size: .9rem;
			text-align: left;

			@include lg-devices {
				// font-size: $about-paragraph;
			}
		}
	}
}

.techdegree-section {
	text-align: center;

	.techdegree-title {
		color: $text-about-heading;
		font-size: $techdegree-title;
		font-weight: 300;

		> span {
			color: $text-about-subheading;
			font-weight: 400;
		}
	}

	.techdegree-intro {
		@include lg-devices {
			@include grid-column(8);
			@include grid-push(2);
			margin-bottom: 2rem;
		}
	}

}


/* --	SKILLS  -- */


/* --	PORTFOLIO  -- */


/* --	CONTACT  -- */

/* ---- h2 Title all Containers/ Sections ---- */
