

#about-me {
	@include grid-container;
	background: $about-bg-color;
	position: relative;
	padding-bottom: 3rem;
	transition: width .8s ease-out;
}

.section-title  {
		@include grid-column;
		margin-top: 0px;
		margin-bottom: 15px;
	}

.section-intro {
	@include grid-column;
	font-size: $about-paragraph-sm;
	font-weight: 300;
	margin-bottom: 60px;

	@include tablet {			
		@include grid-column(8);
		@include grid-push(2);			
	}

	@include lg-devices {
		@include grid-column(6);
		@include grid-push(3);
	}
}

.about-block-container {

	@include lg-devices {
		@include grid-column;
	}

	.block-sections {
		@include grid-column(12);
		border: 1px solid $about-border-color;
		margin-bottom: 60px;
		padding: 20px;
		
		@include sml-devices {
			@include grid-column(8);
			@include grid-push(2);
		}

		@include md-devices {
			@include grid-column(6);
			@include grid-push(3);
		}

		@include lg-devices {
			@include grid-column(4);
			
		}

		.about-title {			
			border-radius: 1rem;
			border: 1px solid $about-border-color;		
			padding: 5px 0;
			
		}
	}
}

.techdegree-section {
	@include grid-column;
	background: lighten($about-bg-color, 5%);
	padding: 20px 5px 20px 5px;
	position: relative;
	margin-bottom: 90px;
	
}

.techdegree-section::before {
	content: url(../images/icons/badge-icon.svg);
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: -26px;
	left: -21px;

	@include lg-devices {
		width: 130px;
		height: 130px;
	}
}



