#contact-section {
	@extend #about-me;
	background: linear-gradient(rgba($contact-bg, .78), rgba($contact-bg, .78)), url('../images/contact-img.png') no-repeat center;
	background-color: $contact-bg;
	background-size: contain;
	background-position-y: 38px;
	min-height: 550px;
	.contact-title {
		color: $contact-title-color;
	}

	p {
		display: block;
	}

	.contact-info {
		@include grid-column;
		margin-top: 2%;
		font-family: $font-base;
		font-weight: 300;

		span {
			display: block;
			font-size: 1.25rem;

			&:first-of-type {
				margin-bottom: 1rem;
			}
		}

		a[href^="mailto:"] {
			color: $white;
		}
	}
}