#contact-section {
	@extend #about-me;
	background: linear-gradient(rgba($contact-bg, .78), rgba($contact-bg, .78)), url('../images/contact-img.jpg') no-repeat center;
	background-color: $contact-bg;
	background-size: contain;
	background-position: center 36px;
	// min-height: 560px;
	padding-bottom: 1.5rem;
	.contact-title {
		color: $contact-title-color;
	}

	p {
		display: block;
	}

	.contact-info {
		@include grid-column;
		margin-top: 2%;
		font: $font-base;
		font-weight: 300;

		span {
			display: block;
			font-size: 1.25rem;

			&:first-of-type {
				margin-bottom: 1rem;
			}
		}

		a[href^="mailto:"] {
			color: $white;
		}
	}

	.social-container {
		@include grid-column;
		
		
		li {
			display: inline;

			a {
				display: inline-block;
				padding: 5px;
				margin-left: 3px;
				margin-right: 3px;
			}
		}
		
		li img {
			width: 36px;
			opacity: .6;
			transition: transform .8s ease-out;

			&:hover {
				opacity: 1;
				transform: scale(1.1);
			}
		}
	}
}