/****************************************
  MAIN-HEADER
/***************************************/

#main-header {
  @include grid-container;
  background: $bg-main-header,url('../images/bg-2.jpg') no-repeat center;
  background-size: cover;
  border-top: .5rem solid $outer-space;
  height: 400px;
  position: relative;  
  min-height: 90vh;

  //////////////////////////
  //  Depricated
  //////////////////////////
  
  // @include tablet{
  //   min-height: 550px;  
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }

  // @include lg-devices {
  //   min-height: 700px;
  // }

  @include wide-devices {
    min-height: 80vh;
  }
  
}

.intro-header {
  margin: -89px 0 0 -156px;
  position: absolute;
  top: 50%;
  left: 50%;
  
    @include tablet {
      margin: -120px 0 0 -201px;
    }

  }

  .main-heading {
    margin-top: 0;
    margin-bottom: -.5rem;
  }

  .title-rule {
    display: block;
    height: 50px;    
    margin-left: auto;
    margin-right: auto;
  }

