/* Toggle Drop-down menu button */
#main-nav {
  @include grid-column;
  position: relative;
  margin: 0;
  width: 100%;

  .main-logo {
    background: url('../images/icons/logo.svg') no-repeat center;
    color: $white;
    text-indent: -9999px;
    overflow: hidden;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -68px;
    left: -124px;
    z-index: 980;
  }

  .nav-links {
    display: none;
    background: rgba($outer-space, .85);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 990;
    
    @include tablet {
      @include grid-column;    
      background: none;
      display: flex;
      justify-content: flex-end;
      margin-right: -12px;
    }

    li.selected {
      @include tablet {
        background: $text-nav-bg-selected;
        &  a {
          color: $text-nav-selected;
        }
      }
    }
  }

li {
 margin-bottom: 8px;
 text-align: center;
 text-transform: uppercase;
 transition: all .6s ease-out;

 &:hover {
  background: $text-nav-selected;
  > a {
    color: $text-nav-bg-selected;
  }
 }

 @include tablet {
  margin-bottom: 0;
  margin-right: .25rem;
  margin-left: .25rem;
  padding: .625rem .5rem;

  &:hover { 
    @include tablet {
      background: $text-nav-bg-selected;
      > a {
        color: $text-nav-selected;
      }
    }
  }  
 }

 a {
   color: $text-white;
   font-size: $font-size-xsml;
   padding: 8px 10px;

   @include tablet {
    color: $text-nav;
    padding: 0;
   }
 }
}

  #nav-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 990;
    padding: 8px;
    box-sizing: content-box;

    @include tablet {
      display: none;
    }
  }
}

  // #dropDwnNav {
  //   @include grid-collapse;
  //   display: none;    
  //   background: rgba($outer-space, .85);
  //   padding: .625rem;
  //   position: relative;
  //   z-index: 975;
  // }

