#portfolio-section {
	@extend #about-me;
	background: $portfolio-bg;
	padding-bottom: 8rem;

	.portfolio-title {
		color: $port-title-color;
	}

	.col {
		@include grid-column;
		margin-bottom: 20px;
		text-align: center;

		@include md-devices {
			@include grid-column(6);
		}
		@include lg-devices {
			@include grid-column(4)
		}
	}
	.portfolio-item {
		background: $port-item-bg;		
		padding: 1.25rem 1rem;
		border-radius: 8px;
		max-width: 300px;
	    margin-left: auto;
        margin-right: auto;
        min-height: 280px;

        > img {
        	height: 150px;
        	width: 260px;
        }
	}

	.section-intro {
		color: darken($shamrock, 5%);
		@include lg-devices {
			@include grid-column(8);
			@include grid-push(2);
		}
	}

	.portfolio-subtitle {
		color: $portfolio-subtitle;
		font-size: $font-title-sml;
		font-weight: 300;
		margin: 5px 0 8px 0;
	}
}

