#portfolio-section {
	@extend #about-me;
	background: $portfolio-bg;
	padding-bottom: 8rem;

	.portfolio-title {
		color: $port-title-color;
	}

	.col {
		@include grid-column;
		margin-bottom: 20px;
		text-align: center;

		@include sml-devices {
			@include grid-column;
		}

		@include lg-devices {
			@include grid-column(6)
		}
		@include wide-devices {
			@include grid-column(4)
		}
	}
	.portfolio-item {
		background: $port-item-bg;		
		padding: 1.25rem 1rem;
		border-radius: 8px;
		max-width: 300px;
	    margin-left: auto;
        margin-right: auto;
        min-height: 280px;
        transition: transform .6s ease-out,
        			box-shadow .6s ease-out;

        &:hover {
        	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    		transform: translateY(-5px);
    		color: inherit;
        }

        > img {
        	height: 150px;
        	width: 260px;
        }

        @include lg-devices {
        	& {
        		max-width: 320px;
        	}
        }
	}

	.section-intro {
		color: darken($shamrock, 5%);
		@include lg-devices {
			@include grid-column(8);
			@include grid-push(2);
		}
	}

	.portfolio-subtitle {
		color: $portfolio-subtitle;
		font-size: $font-title-sml;
		font-weight: 300;
		margin: 5px 0 8px 0;
	}
}

